<div class="callout callout--primary card">
  <div class="grid grid--1x2">
    <div class="callout__contents">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dicta,
        consequatur similique beatae molestiae quo laudantium magnam quisquam
        libero. Mollitia ullam delectus rem dicta, placeat non fugiat esse
        tempore cupiditate.
      </p>
    </div>
    <a href="" class="btn btn--secondary">get started</a>
  </div>
</div>
