<blockquote class="quote">
  <p class="quote__body quote">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis assumenda
    expedita voluptates quasi fugiat cupiditate, quisquam repellendus tempore?
    Fugiat placeat excepturi modi aliquid debitis illum, soluta molestias quam
    dolorem ipsum.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon quote__line">
          <use xlink:href="../assets/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lomeo</h3>
        <p class="author_org">Mosh Company</p>
      </div>
    </div>
  </footer>
</blockquote>
