<section class="block">
  <header class="block__header">
    <h2>What out customer are saying</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, tempore
      aliquid! Vero dolore autem sit quas. Unde, ipsum. Sit, facere!
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img src="/assets/images/testimonial.jpg" alt="a happy customer" />
          <span class="icon-container testimonial--iconContainer">
            <svg class="icon testimonial--icon">
              <use xlink:href="../assets/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__body quote">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            assumenda expedita voluptates quasi fugiat cupiditate, quisquam
            repellendus tempore? Fugiat placeat excepturi modi aliquid debitis
            illum, soluta molestias quam dolorem ipsum.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon quote__line">
                  <use xlink:href="../assets/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lomeo</h3>
                <p class="author_org">Mosh Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
